
.calendar{
  width: 100%;
  //margin:20px;
  font-family:Lucida Console ;
  //padding: 0px;
}
.month{
  width: 100%;
  margin-top: 10px;
  text-align: center;
  background: $primary-color;
  font-size: 15px;
  letter-spacing: 2px;
  border:1px solid #E7222E;
  font-weight: bold;
}
table,th,td{
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px solid $third-color;
}
tr,th,td{
  //padding: 0px;
}
td{
  background: white;
  color: black;
}
th{
  background: $secondary-color;
  color: white;
}
td:hover{
  background:$third-color;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: white;
}
