// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
//nav{
//  word-spacing: 40px;
//  margin: 20px;
//  //font: 100% $font-stack;
//  background-color: #ff242b;
//  text-align: center;
//  a{
//    color: white;
//    font-size: 50px;
//    text-shadow: 1px 3px 10px red;
//    text-decoration: none;
//  }
//}
.humming{
  font-weight: bold;
}

nav{
  font-size: 40px;
  font-weight: bold;
}
