// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.humming{
  text-align: center;
  background-color: $primary-color;
  margin-left: 360px;
  margin-right: 360px;

}
.Calendar-title{
  font-size: 25px;
}

.navbar-brand{
  font-size: 45px;
}